<div id="fruga-footer" class='container-fluid'>
 <footer id="footer" data-hook>
 <div class='row'>
  <div class='col-sm-12'>
   <%= link_to fa_icon("facebook 2x", class: "img-thumbnail"), "http://www.facebook.com/fruga.portugal", {title: "Fruga no Facebook", target: "_new"} %>
   <%= link_to fa_icon("google-plus 2x", class: "img-thumbnail"), "https://plus.google.com/107330188100365112175", {title: "Fruga no Google+", target: "_new", rel: "publisher"} %>
   <%= link_to fa_icon("twitter 2x", class: "img-thumbnail"), "http://twitter.com/frugapt", {title: "Fruga no Twitter", target: "_new"} %>
   <%= link_to fa_icon("linkedin 2x", class: "img-thumbnail"), "http://pt.linkedin.com/in/frugapt", {title: "Fruga no Linkedin", target: "_new"} %>
   <%= link_to fa_icon("youtube 2x", class: "img-thumbnail"), "https://www.youtube.com/user/frugapt", {title: "Fruga no Youtube", target: "_new"} %>
  </div>
 </div>
 <div class='row'>
  <div class='col-sm-12'>
   <small>Copyright <%= fa_icon "copyright"%> 2015 <%= link_to 'Fruga Portugal', 'http://www.fruga.pt', target: "_new" %></small>
  </div>
 </div>
</footer>
</div>